.footer__link{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 14px;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 0.875rem;
}

.footer__direitos-autorais{
    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
}

.c-footer__rede-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;

}